.cities {
    margin: auto;
    margin-bottom: 92px;
    max-width: 1184px;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(2, 50%);
    gap: 1rem;
}

.cities__image {
    max-width: 284px;
    width: 100%;
}

@media screen and (max-width:1024px){

}

@media screen and (max-width:544px){
    
}