.cities {
    max-width: 1184px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 1rem;
    margin-bottom: 92px;
}

.cities__image {
    width: 100%;
}

@media screen and (max-width:1024px){
    .cities {
    margin-bottom: 88px;
    }
}

@media screen and (max-width:544px){
    .cities {
    margin-bottom: 62px;
    }
}