.footer {
    width: 194px;
    margin: 0 auto 24px;
}

.footer__copyright {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1rem;
}

@media screen and (max-width:544px) {
    .footer__copyright {
        line-height: 0.8rem;
    }
}