.header {
    max-width: 255px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 34px auto 90px;
}

.header__icon {
    max-width: 32px;
    width: 100%;
    margin-bottom: 22px;
    align-self: center;
}

.header__logo {
    width: 100%;
    align-items: center;
}

@media screen and (max-width:544px){
    .header {
        width: 188px;
        margin: 20px auto 50px;
    }

    .header__icon {
        width: 24px;
        margin-bottom: 17px;
    }
}