.intro {
    max-width: 984px;
    width: 100%;
    margin: 92px auto 118px;
}

.intro__title {
    max-width: 830px;
    width: 100%;
    font-weight: 900;
    font-size: 3.3rem;
    line-height: 3.6rem;
    margin: 0 0 40px;
}

.intro__text-cite {
    max-width: 738px;
    width: 100%;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.1rem;
    margin: 0 0 10px;
}

.intro__text-author {
    max-width: 732px;
    width: 100%;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.1rem;
    text-align: right;
    margin: 0 0 32px;
}

.intro__text {
    max-width: 722px;
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 0;
}

@media screen and (max-width:1024px){ 
    .intro {
        margin-top: 90px;
        margin-bottom: 64px;
        padding: 0 24px;
        box-sizing: border-box;
    }

    .intro__title {                
        font-size: 2.8rem;
        line-height: 3rem;
        margin: 0 0 50px;
    }
}

@media screen and (max-width:544px) {
    .intro {        
        margin-top: 64px;
        margin-bottom: 38px;
        padding: 0 16px;
    }

    .intro__title {               
        font-size: 2rem;
        line-height: 2.1rem;
        margin: 0 0 40px;
    }

    .intro__text-cite {
        line-height: 1.8rem;
    }
}